@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --color-background: #d9d9d9;
    --color-1: burlywood;
    --color-2: #2b2323;
    --color-3: #463939;
    --color-4: #589f77;
    --mobile: 500px;
}

html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0; padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: .3s;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--color-2);
    padding: 1rem 7%;
}
header .logo{
    height: 100%;
}
header a{
    color: var(--color-background);
}
header a:hover{
    color: var(--color-1);
}


.navbar{
    display: flex;
    align-items: center;
    gap: .7rem;
}
.navbar .checkout-btn{
    cursor: pointer;
    background-color: transparent;
    color: var(--color-background);
    font-size: 1.3rem;
}
.navbar .checkout-btn:hover{
    color: var(--color-1);
}

body{
    min-width: 850px;
}
main{
    padding: 1.5rem 7%;
}
main section.flex-row{
    display: flex;
    justify-content: center;
}
main section article{
    position: relative;
    display: flex;
    margin: .5rem;
    overflow: hidden;
}
main section article img{
    width: 100%;
}
main section article:hover img{
    transform: scale(1.1);
}
main section article .absolute{
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
}
article .absolute *{
    color: white;
    margin: .5rem 0;
}
article .absolute a{
    display: inline-block;
    padding: .7rem;
    border: 1px solid white;
}
article .absolute a:hover{
    border: 1px solid var(--color-2);
    color: white;
    background-color: #2b2323;
}


main.flex-column{
    display: flex;
    flex-direction: column;
}
.section-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section-1 article:nth-of-type(1){
    grid-column: 1;
}
.section-1 article:nth-of-type(2){
    grid-column: 2;
}
.section-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}






/*SHOP PAGE*/
.shop-content.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.product{
    margin: .5rem;
    padding: 1rem;    
}
.product .title{
    font-size: 1rem;
    color: var(--color-2);
    margin: .5rem 0;
    cursor: pointer;
}
.product .label{
    font-size: .7rem;
    color: gray;
}
.product .flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product .price{
    font-size: .9rem;
    font-weight: bold;
    color: #589f77;
}
.product .icon{
    cursor: pointer;
    font-size: 1rem;
    background: transparent;
    color: #589f77;
    padding: .2rem;
}
.product .icon:hover{
    color: var(--color-1);
}
.product img{
    width: 100%;
    cursor: pointer;
}


/*POPUP / MORE DETAILS*/
main{
    position: relative;
}
main.height-adjust{
    height: 100vh;
    overflow: hidden;
}
.more-detail{
    transform: translateX(-100%);
    position: absolute;
    z-index: 1000;
    left: 0; right: 0; top: 0; bottom: 0;
}
.more-detail.absolute{
    position: absolute;
    z-index: 1000;
    left: 0; right: 0; top: 0; bottom: 0;
    transform: translateX(0);
}
.more-detail{
    display: flex;
    justify-content: center;
    padding: 3rem 7%;
    background: white;
}
.more-detail .flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.5rem;
}
.more-detail .flex-row{
    display: flex;
    flex-direction: row;
}
.more-detail img{
    cursor: pointer;
    height: 50vh;
}
.more-detail img:hover{
    box-shadow: 0px 0px 7px 0px #00000056;
}
.more-detail .flex-row img{
    cursor: pointer;
    height: 80px;
    margin: .5rem .2rem;
}
.more-detail .box{
    width: 50%;
}
.more-detail .title{
    color: var(--color-2);
    padding: 1rem 0;
}
.more-detail .details{
    color: var(--color-2);
    padding: .5rem 0;
}
.more-detail .price{
    color: #589f77;
    font-weight: bold;
    font-size: 1.5rem;
}
.more-detail .description{
    color: gray;
}
.more-detail input.quantity{
    font-size: 1.2rem;
    border: 1px solid #cecece;
    padding: .6rem 0 .6rem .6rem;
    width: 4rem;
    border-radius: 4px;
}
.more-detail input.quantity:focus{
    outline: none;
}
.more-detail button{
    cursor: pointer;
    color: white;
    background-color: var(--color-2);
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 4px;
}
.more-detail .box{
    position: relative;
}
.more-detail .close-btn{
    position: absolute;
    right: 0;
    top: -.7rem;
    font-size: 2.5rem;
    background-color: transparent;
    color: #2b2323;
    padding: 0;
    margin: 0;
}
.more-detail .close-btn:hover{
    color: gray;
}






.checkout{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    width: 20rem;
    padding: 3rem 1.5rem;
    box-shadow: 0px 0px 10px 1px #00000030;
    transform: translateX(100%);
    overflow-y: scroll;
}
.checkout.open{
    transform: translateX(0);
}
.checkout h2{
    color: var(--color-2);
    padding: 0;
    margin:  0 0 .7rem;
}
.checkout .total-price{
    color: var(--color-2);
    margin: 1rem 0;
    padding: .3rem 0;
    border-top: 1px solid #d0d0d0;
}
.checkout .total-price span{
    color: #589f77;
}
.checkout button{
    display: block;
    cursor: pointer;
    background: var(--color-2);
    color: white;
    padding: 1rem 2rem;
    margin: .7rem auto;
}
.checkout button:hover{
    background: var(--color-3);
    box-shadow: 0px 0px 7px 0px #0000005f;
}
.checkout .close-btn{
    position: absolute;
    left: .5rem;
    top: -.7rem;
    background: transparent;
    color: #a5a5a5;
    font-size: 2rem;
    padding: 0;
}
.checkout .close-btn:hover{
    background: transparent;
    box-shadow: none;
    color: var(--color-2);
}





/*CHECKOUT ITEM*/
.checkout-product{
    position: relative;
    flex-grow: 9;
    padding: 0 .5rem 1rem;
    margin-bottom: .5rem;
    border: 1px solid #e9e9e9;
    overflow: hidden;
}
.checkout-product h3{
    color: var(--color-2);
    margin: .5rem 0;
}
.checkout-product img{
    float: left;
    width: 90px;
    margin-right: .5rem;
}
.checkout-product .product-price{
    font-size: .9rem;
    color: var(--color-2);
    font-weight: bold;
}
.checkout-product .product-price span{
    color: var(--color-4);
}
.checkout-product .quantity{
    display: inline;
    width: 90px;
    border: 1px solid #eaeaea;
    font-size: 1rem;
    padding: .5rem 0 .5rem .5rem;
    border-radius: 4px;
}
.checkout-product .quantity:focus{
    outline: none;
    box-shadow: 0px 0px 7px 1px #00d0ff6a;
}
.checkout-product .remove-btn{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    color: #aaaaaa;
    font-size: 1.5rem;
    padding: 0 .2rem;
    margin: 0;
}
.checkout-product .remove-btn:hover{
    color: var(--color-2);
    background: transparent;
    box-shadow: none;
}





.hero{
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: #e3e6f3;
}
.hero .absolute{
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
}
.hero .absolute h2, .hero .absolute p, .hero .absolute a{
    margin: 1rem 4rem;
    color: var(--color-2);
}
.hero .absolute h2{
    font-size: 2.5rem;
}
.hero .absolute h2 span{
    display: block;
    color: darkcyan;
}
.hero .absolute p{
    font-size: 1.2rem;
    font-weight: bold;
}
.hero .absolute a{
    display: inline-block;
    background: darkcyan;
    color: white;
    padding: 1rem 2rem;
}
.hero .absolute a:hover{
    color: var(--color-1);
}
.hero{
    width: 100%;
    height: 92vh;
    overflow: hidden;
}



aside.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 7%;
    background: var(--color-2);
}
aside h2, aside p{
    color: white;
    padding: .3rem;
}
aside form{
    display: flex;    
    padding-left: 2rem;
}
aside form input{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    padding: 0rem .5rem;
    border-radius: 4px 0 0 4px;
}
aside form button{
    height: 3rem;
    font-weight: bold;
    background: darkcyan;
    color: white;
    padding: 0 1rem;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
aside form button:hover{
    color: var(--color-1);
}
aside form input:focus{
    outline: none;
    box-shadow: 0px 0px 15px 2px #00ffea91;
}




footer.flex-row{
    display: flex;
    padding: 2rem 7%;
}
footer .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
    color: var(--color-2);
    flex-basis: 100%;
}
footer .box h3{
    margin: 1rem 0;
}
footer .box a{
    color: gray;
    font-size: .9rem;
    margin: .2rem 0;
}
footer .box a:hover{
    color: var(--color-2);
}
footer .box p{
    color: gray;
    font-size: .9rem;
    font-weight: bold;
    margin: .3rem 0;
}
footer .box p span{
    font-weight: normal;
}
footer .box .flex-row{
    display: flex;
}
footer .box .flex-row a{
    border: 1px solid darkcyan;
    border-radius: 6px;
    margin-right: .5rem;
}
footer .box .flex-row img{
    border-radius: 6px;
    height: 2rem;
}
footer .box .flex-row a:hover{
    border: 1px solid var(--color-2);
    box-shadow: 0px 0px 5px 0px #0000004b;
}
footer .box img.payment{
    width: 60%;
    padding: 1rem 0;
}









/* RESPONSIVE */
@media screen and (min-width: 850px) {

}